<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About page</h1>
    <a href="/">Accueil</a>
    <a href="/Service">Service</a>
    <a href="/Contact">Contact</a>
    <h2>Ceci est  un titre</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo rem minus dolores ullam consequatur doloribus, ut et quod voluptate optio accusantium ipsam aliquam? Veniam dolorum officia, non recusandae totam tempore qui? Voluptas velit autem, animi non aspernatur ut id natus repellendus rerum adipisci porro tempora, quaerat cumque! Delectus ex expedita dignissimos, quaerat vero ea dolores voluptatibus consectetur exercitationem porro, possimus perspiciatis nesciunt cum aspernatur aliquam.</p>
</body>
</html>